<a href="https://github.com/OpenMicrosoft-Project/mcbedoc.github.io"><img src="/assets/images/github_w.png" alt="MCBEDOC on GitHub" style="width:20px;height:20px;transform: translate(0px, 10px);"></a>
<img src="/assets/images/gap.png">
<a href="https://dsc.gg/openms"><img src="/assets/images/discord_w.png" alt="OpenMicrosoft Discord" style="width:20px;height:23px;transform: translate(0px, 10px);"></a>
<img src="/assets/images/gap.png">
<a href="https://openmcommunity.reddit.com"><img src="/assets/images/reddit_w.png" alt="OpenM Reddit" style="width:22px;height:20px;transform: translate(0px, 10px);"></a>
<img src="/assets/images/gap.png">
<a href="https://openm.tech"><img src="/assets/images/web_w.png" alt="OpenM Official" style="width:20px;height:20px;transform: translate(0px, 10px);"></a>