<script></script>
<img src="/assets/images/gap.png">
<a href="https://github.com/OpenMicrosoft-Project/mcbedoc.github.io"><img id="GitHubIcon" src="/assets/images/github_b.png" alt="MCBEDOC on GitHub" style="width:20px;height:20px;transform: translate(0px, 10px);"></a>
<img src="/assets/images/gap.png">
<a href="https://dsc.gg/openms"><img id="DiscordIcon" src="/assets/images/discord_b.png" alt="OpenMicrosoft Discord" style="width:20px;height:23px;transform: translate(0px, 10px);"></a>
<img src="/assets/images/gap.png">
<a href="https://openmcommunity.reddit.com"><img id="RedditIcon" src="/assets/images/reddit_b.png" alt="OpenM Reddit" style="width:22px;height:20px;transform: translate(0px, 10px);"></a>
<img src="/assets/images/gap.png">
<a href="https://openm.tech"><img id="WebsiteIcon" src="/assets/images/web_b.png" alt="OpenM Official" style="width:20px;height:20px;transform: translate(0px, 10px);"></a>
<img src="/assets/images/gap.png">
<a href="#"><img id="themeIcon" src="/assets/images/theme_switch_b.png" alt="Theme Switch" style="width:20px;height:20px;transform: translate(0px, 10px);" onclick="switchTheme(event)"></a>
<img src="/assets/images/gap.png">
<div id="google_translate_element"></div>
<script>
    var currentTheme = localStorage.getItem('theme') || jtd.getTheme() || 'dark';
    jtd.setTheme(currentTheme);
    switchIcons(currentTheme);

    function switchTheme(event) {
        event.preventDefault();
        currentTheme = currentTheme === 'dark' ? 'light' : 'dark';
        jtd.setTheme(currentTheme);
        localStorage.setItem('theme', currentTheme);
        switchIcons(currentTheme);
    }

    function switchIcons(theme) {
        var icons = ['RedditIcon', 'WebsiteIcon', 'themeIcon', 'GitHubIcon', 'DiscordIcon'];
        icons.forEach(function(iconId) {
            var icon = document.getElementById(iconId);
            var src = icon.src;
            icon.src = theme === 'dark' ? src.replace('_b.png', '_w.png') : src.replace('_w.png', '_b.png');
        });
    }
</script>